@media only screen and (min-width: 768px) {
      video
    {
        width: 50%;
        height:auto;
        float:left;
        margin-right: 2.5%;
    }

    .inner-content
    {
      width: 80%;
      height: auto;
    }

    .text
    {
      margin-right: 35%;
    }

    #rightList
    {
      float: right;
    }
}
@media only screen and (max-width: 1106px) {
    #lasTex
    {
      margin-right: 2%;
    }
}

@media only screen and (max-width: 768px) {
    video
    {
        margin-right: 2.5%;
        width: 100%;
        height:auto;
    }

    .inner-content
    {
      width: 99%;
      height: auto;
    }
    
    .text
    {
      margin-right: 0px;
    }
    
    .block
    {
      min-width: 40%;
    }
}

/*--------------------------------------------------------------------------------*/

body
{
    background-color: #333;
    color: #ddd;
}

header
{
    float: center;
    text-align: center;
}

h1
{
    font-size: 500%;
}

h2
{
    font-size: 250%;
}

h3
{
    padding-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
}

.block h3
{
    padding-top: 2px;
}

.Tabtitle
{
      color: orange;
}

h4
{
  text-align: left;
  margin-left: 15px;
  font-weight: bold;
}

p
{
    text-align: left;
    margin-left: 15px;
    min-width: 50px;
}

video
{
    border-radius: 10px;
}

.project p, 
{
    text-align: left;
    min-width: 30%;
}

.text
{
  padding-bottom: 2%;
}

.text ul
{
    text-align: left;
    margin-left: 15px;
}

.title
{
    text-align: left;
    padding-left: 15px;
}
.firsDivision
{
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 25px;

  display: flex;
  flex-direction: column;
}
.division
{
    border-bottom: 3px solid orange;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 25px;

    display: flex;
    flex-direction: column;
}

.lasDivision
{
    border-bottom: none;

    display: flex;
    flex-direction: column;
}

.project
{
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    padding-bottom: 2.5%;
    height: auto;

    display: inline;
    flex-direction: column;
}

.inner-content
{
    margin: auto;
    text-align: center;
    background-color: #555;
    box-shadow: 1px 1px 20px black;
    border-radius: 10px;
    display: block;
    /*padding-top: 5px solid black;*/
    margin-top: 1%;
}

#curr
{
  display: flex;
  flex-direction: column;
  /*padding-top: 2%;*/
  padding: 0% 2% 2% 2%;

}

#curr h3
{
  padding-top: 0%;
}

.subtitle
{
  text-align: center; 
}

.ResLeft
{
  float: left;
  width: 49%;
  background-color:#777;
  text-align: left;
  border-radius: 10px;
  padding-left: 2%;
  padding-top: 2.5%;
}

.ResLeft .title
{
  text-align: left;
  margin-top: 2%;
}

.ResRight
{
  float: right;
  width: 49%;
  padding-top: 2.5%;
}

#resume
{
  display: inline;
}

.square,
.squarePi
{
  background-color: #777;
  text-align: left;
  border-radius: 10px;
  margin: 2px;
  padding-bottom: 2%;
}

.square li
{
  font-size: 18px;
  font-weight: bold;
}

.block
{
    width: 25vw;
    height: 30vh;

    /*min-width: 30%;*/

    overflow: hidden;

    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.25%;
    margin-bottom: 2%;

    display: inline-block;
    background-color: #777;

    border-bottom: 5vh solid #777;
    border-left: 5vw solid #777;
    border-right: 5vw solid #777;
    
    cursor: pointer;

    opacity: 0.65;
    border-radius: 20px;

    color: #eee;
}

.block img
{
    width: 100%;
    height: auto;
}

.block:hover
{
    box-shadow: 1px 1px 20px  black;
    opacity: 1;
    border-bottom: 5vh solid #777;
    border-left: 5vw solid #777;
    border-right: 5vw solid #777;
    background-color: #777;
    color: orange;
}

.block:active
{
    box-shadow: 1px 1px 20px gray;
    opacity: 1;
    background-color: gray;
    border-color: gray;
}
.sides
{
  display: inline-block;
  float: left;
  text-align: left;
  margin-top: 5%;
}

a
{
    color: white;
}

a:hover
{
    background-color: gray;
    color: black;
}

#choice
{
    background-color: black;
}

footer li
{
    display: inline;
    margin: 50px;
}

footer
{
    display: block;
    text-align: center;
    margin: 15px;
    color: white;
}
footer button,
footer p,
footer li
{
    margin: 20px;
}

footer p
{
    text-align: left;
}
#myBtn
{
    text-align: center;
    font-size: 50px;
    color: orange;
    cursor: pointer;
}

/*--------------------------------------------------------------------------------*/

#chooseLang
{
  height: 40vh; 
  width: 90vw;
  padding-bottom: 40vh;
}

#chooseLang h2
{
  padding-top: 2vh;
  padding-bottom: 30vh;
  color: orange;
}

.langE,
.langP
{
  display: inline;
  font-size: 500%;
  text-decoration: none;
  box-shadow: 1px 1px 20px black;
  border-radius: 10px;
  color: #ddd;
  background-color: #777;
  padding: 1% 2% 1% 2%;
  opacity: 0.65;
}

.langE:hover,
.langP:hover
{
  color: orange;
  opacity: 1;
}

.langE:active,
.LangP:active
{
  color: white;
  background-color: orange;
}


.langFoot
{
  padding-top: 1.5%; 
  text-align: left;
}

.langE
{
  float: left;
  margin-left: 5%;
}
.langP
{
  float: right;
  margin-right: 5%;
}

/*--------------------------------------------------------------------------------*/

div.tab 
{
    color: white;
    overflow: hidden;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#505050, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#505050, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#505050, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#505050, black); /* Standard syntax */
    box-shadow: 1px 2px 10px black;
    text-align: center;
    border-bottom: 3px solid orange;
    margin-bottom: 1.5%;
}

div.tab button 
{
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover 
{
    background-color: #aaa;
}

div.tab button.active 
{
    background-color: #555;
    color: orange;
}

.tabcontent 
{
    display: none;
    padding-top: 0px;
}

/*--------------------------------------------------------------------------------*/

.modal 
{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0,.9);
}

.modal-content 
{
  position: fixed;
  background-color: rgba(0,0,0,0);
  top: 50%;
  left: 50%;
  padding: 0px;
  width: 100%
  max-width: 1280px;
  transform: translate(-50%,-50%);
}

.close 
{
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus 
{
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides 
{
  display: none;
  text-align: center;
}

.mySlides img 
{
  max-width: 70vw;
  max-height: 70vh;

  width: auto;
  height: auto;

  border-radius: 10px;
}

.prev,
.next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover 
{
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext 
{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container 
{
  text-align: center;
  padding: 2px 16px;
  color: white;
}

img.demo 
{
  opacity: 0.6;
}

.active,
.demo:hover 
{
  opacity: 1;
}

img.hover-shadow 
{
  transition: 0.3s
}

.hover-shadow:hover 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.mySlides p,
.mySlides h3
{
  text-align: center;
  background-color: rgba(0,0,0,0);
  color: white;
}
/*--------------------------------------------------------------------------------*/